{
  "env": {
    "browser": true,
    "es2020": true,
    "jsx-control-statements/jsx-control-statements": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "plugin:import/react",
    "plugin:react/recommended",
    "plugin:jsx-control-statements/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "plugins": ["react-hooks"],
  "rules": {
    "no-undef": "error",
    "no-extra-semi": "error",
    "no-useless-constructor": "off",
    "react/prop-types": [
      "warn",
      {
        "ignore": ["key", "children", "dispatch", "className"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-no-undef": ["error", { "allowGlobals": true }],
    "import/no-anonymous-default-export": [
      "error",
      {
        "allowObject": true
      }
    ],
    "jsx-control-statements/jsx-choose-not-empty": 1,
    "jsx-control-statements/jsx-for-require-each": 1,
    "jsx-control-statements/jsx-for-require-of": 1,
    "jsx-control-statements/jsx-if-require-condition": 1,
    "jsx-control-statements/jsx-otherwise-once-last": 1,
    "jsx-control-statements/jsx-use-if-tag": 1,
    "jsx-control-statements/jsx-when-require-condition": 1,
    "jsx-control-statements/jsx-jcs-no-undef": 1
  },
  "overrides": [
    {
      "files": ["**/*.js?(x)"]
    }
  ]
}
